body{
	font-family: "Times New Roman", Times, serif;
	background-color: #03254c;
	color: white;
  overflow-x: hidden !important;
}

.bg-light {
	background-color: #187bcd !important;
}

.dropdown-menu{
	background-color: #2a9df4 !important;
}

.dropdown-item:hover{
	background-color: #d0efff !important;
}
.navbar-nav{
	padding-left: 60%;
}

.navbar-toggler{
	background-color: #2a9df4 !important;
}

.nav-link{
	font-size: 18px;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show > .nav-link{
	color: black;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link{
	color: #03254c;
}

h1{
	display: flex;
	justify-content: center;
	font-size: 5em;
	color: #d0efff;
}

#ballsCanvas{
	border : 3px solid #d0efff;
	margin-left: 25%;
}


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.mySlides > img{
	width:100%;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #187bcd;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color:  #2a9df4 ;
	color: black;
}

/* Caption text */
.text {
	color: #3fe0d0;
	font-size: 45px;
	padding: 8px 12px;
	position: absolute;
	width: 100%;
	text-align: center;
}


/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot:hover {
	background-color:  #2a9df4 ;
}

/* Fading animation */

.fade:not(.show) {
	opacity: 1;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.btn{
	width: 200px;
	border-radius: 20px;
	margin-left: 40%;
	height: 50px;
	background-color:  #187bcd;
	color: white;
	font-size: 20px;
	bottom: 8px;
	position: absolute;
}

.btn:hover{
	background-color: white;
	color: black;
}

.col-md-4{
	float:left;
	background-color: #0080FF;
}
.col-md-4 >h4{
	text-align: center;
}
.col-md-4 >img{
	width:100%;
  display: flex;
  justify-content: center;
}

.col-md-4 > .btn{
	margin-left: 0%;
	border-radius: 15px;
	position: relative;
	width: 150px;
	height: 30px;
	background-color:  #03254c;
	margin-top:5%;
	font-size: 14px;
}

.col-md-4 > .btn:hover{
	background-color: white;
	color: black;
}

#gameCanvas{
  margin-left: 13%;
  border : 3px solid #d0efff;
}

#container{
  width: 1000px;
  height: 667px;
  background-image:url("../images/background.jpg");
  background-repeat: no-repeat;
}

#h1{
  color: #FFD662FF;
}

#innerContainer{
  display: flex;
  justify-content: center;
}

#innerContainer > img {
  width : 800px;
  height: 500px;
}

#forward, #backward{
  cursor: pointer;
  width: auto;
  color: #FFD662FF;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#forward , #backward{
  margin: auto;
}

#innerContainer > a:hover{
  background-color: white;
  color: black;
}

#container > .row > button{
  width: 300px;
  margin: auto;
  font-size: 30px;
  border-radius: 20px;
  background-color: #03254c;
  color: white;
  border: 3px solid #FFD662FF;
}

#container > .row > button:hover{
  background-color: #2a9df4;
  color: black;
}

.container{
  text-align: center;
}

#textContainer{
  position: relative;
}

.row> h1{
  text-align: center;
}

.row> p{
  text-align: center;
  font-size: 18px;
}

#projectContainer{
  height: 400px;
}

#servicesContainer{
  height: 1050px;
}

#gameButton{
  background-color: #2a9df4;
  border: 3px solid  #FFD662FF;
  border-radius: 30px;
  color: black;
  padding: 10px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 42%;
  font-size: 30px;
}

#gameButton:hover{
  background-color: white;
  color: black;
}

footer{
  margin-top: 200px;
  font-size: 25px;
}

footer > .row > .col-md-6 {
  background-color: #FFD662FF;
  border: 1px solid black;
  text-align: center;
  color: black;
}

footer > p{
  color: white;
  text-align: center;
}

footer > ul> a:hover{
  color: #FFD662FF;
}

footer >.row> h2{
  text-align: center;
}

@media (min-width: 1281px) {

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {

  	/* CSS */

  }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) {
   html,body{
    overflow-x: hidden !important;
  }

  /* CSS */
  .navbar-nav {
    padding-left: 0%;
  }

  h1 , h2 ,h4{
    font-size: 1.5em;
  } 
  #ballsCanvas, #gameCanvas{
    height: 250px;
    width: 550px;
    margin-left: 15%;
  }

  .container > .col-md-4 > h4{
    font-size: 1.5em;
  }
  .col-md-3{
    width: 25%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
  */

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   html,body{
    overflow-x: hidden !important;
  }

  /* CSS */
  .navbar-nav {
    padding-left: 0%;
  }

  h1 , h2, h4{
    font-size: 1.5em;
  } 
  #ballsCanvas, #gameCanvas{
    height: 250px;
    width: 550px;
    margin-left: 15%;
  }
  .btn{
    margin-left: 38%;
  }
  #innerContainer > img {
    width : 500px;
    height: 300px;
  }
  #container > .row > button{
    width: 200px;
    font-size: 20px;
  }
  #container{
    height: 40%;
  }
  footer{
    font-size: 20px;
  }
}
@media (min-width: 667px) and (max-width: 768px) and (orientation: landscape){
 html,body{
  overflow-x: hidden !important;
}
.btn{
  margin-left: 35%;
}

footer{
  font-size: 20px;
}
.col-md-3{
  width: 25%;
}
#gameButton{

      border-radius: 30px;
      padding: 3px 30px;
      margin-left: 43%;
      font-size: 20px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
  */

  @media (min-width: 481px) and (max-width: 767px) {

  	/* CSS */
   html,body{
    overflow-x: hidden !important;
  }
  .navbar-nav {
    padding-left: 0%;
  }

  h1 , h2, h4{
    font-size: 1.5em;
  } 
  #ballsCanvas, #gameCanvas{
    height: 200px;
    width: 350px;
    margin-left: 25%;
  }
  #innerContainer > img {
    width : 400px;
    height: 250px;
  }
  #container > .row > button{
    width: 200px;
    font-size: 20px;
  }
  #container{
    width: 70%;
    height: 50%;
  }
  footer{
    font-size: 18px;
  }

  #teamColumn{
    width: 33%;
  }
  .col-md-3{
    width: 25%;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 480px) {

  	/* CSS */

    html,body{
      overflow-x: hidden !important;
    }
    .navbar-nav {
      padding-left: 0%;
    }
    h1 , h2, h4{
      font-size: 2em;
    } 

    ul{
      padding-left: 1em;
    }

    #ballsCanvas, #gameCanvas{
      height: 200px;
      width: 300px;
      margin-left: 11%;
    }
    .prev, .next,.text {
      font-size: 15px
    }
    .btn{
      width: 100px;
      margin-left: 35%;
      height: 30px;
      font-size: 15px;
      text-align: center;
    }

    .col-md-4{
      float: none;
    }
    .col-md-4 >h4{
      text-align: center;
    }

    #innerContainer > img {
      width : 300px;
      height: 200px;
    }
    #container > .row > button{
      width: 200px;
      font-size: 20px;
    }
    #container{
      width: 100%;
      height: 50%;
    }
    footer{
      font-size: 18px;
    }
    #product{
      width: 300px;
      height: 200px;
    }
    .col-md-3{
      width: 25%;
    }
    #gameCanvas{
      height: 300px;
      width: 350px;
      margin-left: 8.5%;
    }
    #projectContainer{
      height: 100%;
    }
    #gameButton{

      border-radius: 30px;
      padding: 3px 30px;
      margin-left: 36%;
      font-size: 20px;
    }
  }

  @media  (min-width: 320px) and (max-width: 376px) {


    html,body{
      overflow-x: hidden !important;
    }
    .navbar-nav {
      padding-left: 0%;
    }
    h1 , h2, h4{
      font-size: 1.5em;
    } 

    #ballsCanvas, #gameCanvas{
      height: 200px;
      width: 300px;
      margin-left: 11%;
    }

    #gameCanvas{
      height: 300px;
      width: 350px;
      margin-left: 3.5%;
    }
    .prev, .next,.text {
      font-size: 15px
    }
    .btn{
      width: 100px;
      margin-left: 35%;
      height: 30px;
      font-size: 15px;
      text-align: center;
    }

    .col-md-4{
      float: none;
    }
    .col-md-4 >h4{
      text-align: center;
    }
    footer{
      font-size: 18px;
    }
    .col-md-3{
      width: 25%;
    }
  }
